<div class="container-fluid">
	  <h1>The Oreo Personality Diagnosis</h1>
	  <p>This diagnostic exam is a tool to accurately identify and describe your personality from DSM V (Diagnostic and Statistical Manual of Mental Disorders) certified classifications.</p>
	  <p><a href="/quiz" class="btn btn-primary btn-lg"> TAKE THE EXAM</a></p>
</div>