<html>
	<head>
		<title>The Oreo Quiz</title>
		<!-- bootstrap css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
		<!-- customized css-->
		<link rel="stylesheet" href="/stylesheets/style.css"></link>

		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></link>
	</head>

	<body>
		<%= yield %>
	</body>
</html>