<html>
	<head>
		<title>The Oreo Quiz</title>
		<!-- bootstrap css -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
		<!-- bootstrap custom theme -->
		<link rel="stylesheet" href="/stylesheets/yeti.css"></link>
		<!-- bootstrap custom style-->
		<link rel="stylesheet" href="/stylesheets/style.css"></link>
	</head>

	<body>
		<%= yield %>


	</body>
</html>