<div class="panel-heading">
    <h3 class="panel-title">method: <%= @description %></h3>
  </div>
  <div class="panel-body">
    <p style="color: #000000">personality: <%= @personality %></p>
  </div>
</div>
	<h3><a href="/quiz" class="btn btn-primary btn-lg"> BACK </i></a></h3>