<h1>How do you eat an Oreo?</h1>
<div class="container">
	<div class="line_up">
		<ul>
			<% @methods.each do |method| %>
				<a href="/quiz/<%= (method[:number]).to_i %>"><li class="btn btn-block btn-lg">
					<%= method[:description] %>
				</li></a>
			<% end %>
		</ul>
	</div>
</div>