<h1>Which method do you use to eat an Oreo?</h1>
	<p>
		<% @index.each do |number| %>
			<a href="/quiz/<%= number %>"><%= number %></a>
		<% end %>
		<% @methods.each do |method| %>
			<p><%= @description %></p>
		<% end %>
	</p>