<% @numbers.each do |info| %>
	
<div style="background-color: <%= info[:favorite_color] %>">
	Name: <%= info[:name] %>
	<br>
	Phone: <%= info[:number] %>
	<br>
	Color: <%= info[:favorite_color] %>
	<br>
</div>
<% end %>

